
/target/

.idea/
*.iml

.vscode/


[._]*.s[a-v][a-z]
!*.svg  # (prevents accidentally ignoring SVG files)
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]


.DS_Store


.env
.env.local
.env.*.local

*.bak
*.swp
*~
